/*===IMG PRINCIPAL===*/
header {
	background-image:url(../imagenes/header-luu.gif);
	width: 100%;
	height: 70rem;
	background-repeat:none;
	background-attachment:scroll;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

h1,h2,h3,h4,h5,h6
{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700}


element.style {
    visibility: visible;
    animation-name: fadeIn;
}

/*===NAVEGADOR===*/
ul#navigation {
    position: fixed;
    margin: 0rem;
    padding: 0rem;
    top: 5rem;
    left: 0rem;
    list-style: none;
    z-index:9999;
}

ul#navigation li {
    width: 10rem;
}

ul#navigation li a {
    display: block;
    margin-left: -0.2rem;
    width: 10rem;
    height: 7rem;
    background-color:#f1f1f1;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #CFCFCF;
    -moz-border-radius:0rem 1rem 1rem 0rem;
    -webkit-border-bottom-right-radius: 1rem;
    -webkit-border-top-right-radius: 1rem;
    -khtml-border-bottom-right-radius: 1rem;
    -khtml-border-top-right-radius: 1rem;
    -moz-box-shadow: 0rem 0.2rem 0.1rem #CFCFCF;
    -webkit-box-shadow: 0rem 0.2rem 0.1rem #CFCFCF;
}

.fa{
color: #2bd2a9;
margin-left: 3.5rem;
  margin-top: 0.4rem;
}


.fa-margin{
margin-left: 3rem;
}


#navigation li span{
  margin-left: 2rem;
  color: #3A3A3A;

}

#navigation li .servicios{
  margin-left: 0.5rem;
  color: #3A3A3A;

}

#navigation li a{
 &:hover {
 
    text-decoration: none;    
  }
}  


/*===SECTION SOBRE MI===*/
section
	{padding:10rem 0}

	section h2.section-heading
	{font-size:4rem;
	margin-top:-2rem;
	margin-bottom:6rem}




@media (min-width:767px){#portfolio .portfolio-item
		{margin:0 0 3rem}}
		.timeline{list-style:none;
		padding:0;position:relative}

		.timeline:before{top:0;
		bottom:0;
		position:absolute;
		content:"";
		width:0.2rem;
		background-color:#f1f1f1;
		left:4rem;
		margin-left:-0.15rem}

		.timeline>li
		{margin-bottom:5rem;
		position:relative;
		min-height:5rem}

		.timeline>li:before,.timeline>li:after
		{content:" ";display:table}

		.timeline>li:after
		{clear:both}

		.timeline>li .timeline-panel
		{width:100%;
		float:right;padding:0 2rem 0 10rem;position:relative;text-align:left}.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#2bd2a9;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 100px}.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li:last-child{margin-bottom:0}.timeline .timeline-heading h4{margin-top:0;color:inherit}.timeline .timeline-heading h4.subheading{text-transform:none}.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}@media (min-width:768px){.timeline:before{left:50%}.timeline>li{margin-bottom:100px;min-height:100px}.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}}@media (min-width:992px){.timeline>li{min-height:150px}.timeline>li .timeline-panel{padding:0 20px 20px}.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}@media (min-width:1200px){.timeline>li{min-height:170px}.timeline>li .timeline-panel{padding:0 20px 20px 100px}.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}.timeline>li .timeline-image h4{margin-top:40px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 100px 20px 20px}}.team-member{text-align:center;margin-bottom:50px}.team-member img{margin:0 auto;border:7px solid #fff}.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}.team-member p{margin-top:0}aside.clients img{margin:50px auto}section#contact{background-color:#222;background-image:url(../img/map-image.png);background-position:center;background-repeat:no-repeat}section#contact .section-heading{color:#fff}section#contact .form-group{margin-bottom:25px}section#contact .form-group input,section#contact .form-group textarea{padding:20px}section#contact .form-group input.form-control{height:auto}section#contact .form-group textarea.form-control{height:236px}section#contact .form-control:focus{border-color:#fed136;box-shadow:none}section#contact ::-webkit-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact :-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact ::-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact :-ms-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact .text-danger{color:#e74c3c}footer{padding:25px 0;text-align:center}footer span.copyright{line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}footer ul.quicklinks{margin-bottom:0;line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}ul.social-buttons{margin-bottom:0}ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#f1f1f1}.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:0;min-height:100%;padding:100px 0;text-align:center}.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}.portfolio-modal .modal-content p{margin-bottom:30px}.portfolio-modal .modal-content p.item-intro{margin:20px 0 30px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px}.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0}.portfolio-modal .modal-content img{margin-bottom:30px}.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px;cursor:pointer}.portfolio-modal .close-modal:hover{opacity:.3}.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}.portfolio-modal .modal-backdrop{opacity:0;display:none}::-moz-selection{text-shadow:none;background:#fed136}::selection{text-shadow:none;background:#fed136}img::selection{background:0 0}img::-moz-selection{background:0 0}body{webkit-tap-highlight-color:#fed136}
    
    .timeline-image a{
    &:hover {
    color: #3A3A3A;
    text-decoration: none;
    }
}

 .timeline-image h4 > a {
    color: #fff; }

/*===ICON SECTION SERVICIOS===*/
.appear.moveup {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.icon-text-diamond {
  text-align: center;
  margin-bottom: 4rem; }
  .icon-text-diamond .wrapper {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  .icon-text-diamond span {
    color: #999; }

.icon-text-diamond .content {
  display: inline-block;
  width: 16rem;
  height: 16rem;
  margin: 10rem auto 4rem;
  background: #2bd2a9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  .icon-text-diamond .content i {
    margin-bottom: 4rem;
    font-size: 5rem;
    width: 3rem;
    height: 3rem;
    color: #333;
    padding-top: 7.5rem;
    position: relative;
    left: -6.5rem;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.icon-text-diamond:hover .wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .icon-text-diamond:hover .wrapper .content {
    background: #333; }
    .icon-text-diamond:hover .wrapper .content i {
      color: #2bd2a9; }

/*===BACKGROUND SECTION SERVICIOS===*/
#servicios {
  background-image: url(../imagenes/skills_bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h2{
    margin-bottom: 1rem;

  } 
  
  .especialidad{
    font-size: 2.5rem;
    padding-top: -20rem;
    color: #2bd2a9;
  }
}

/*===PORTFOLIO===*/
#portfolio .portfolio-item
  {margin:0 0 1.5rem;right:0}

  #portfolio .portfolio-item .portfolio-link
  {display:block;
  position:relative;
  max-width:40rem;
  margin:0 auto}

  #portfolio .portfolio-item .portfolio-link .portfolio-hover
  {background:#E9E9E9;
  position:absolute;width:100%;
  height:100%;
  opacity:0;
  transition:all ease .5s;
  -webkit-transition:all ease .5s;
  -moz-transition:all ease .5s}

  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover
  {opacity:1}

  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content
  {position:absolute;
  width:100%;
  height:2rem;
  font-size:2rem;
  text-align:center;
  top:50%;
  margin-top:-1.2rem;
  color:#fff}

  #portfolio 
  .portfolio-item 
  .portfolio-link 
  .portfolio-hover 
  .portfolio-hover-content 
  i{margin-top:-1.2rem}

  #portfolio
  .portfolio-item 
  .portfolio-link 
  .portfolio-hover 
  .portfolio-hover-content h3,
  #portfolio .portfolio-item 
  .portfolio-link
  .portfolio-hover 
  .portfolio-hover-content 
  h4{margin:0}

  #portfolio .portfolio-item .portfolio-caption
  {max-width:40rem;
  margin:0 auto;
  background-color:#fff;
  text-align:center;
  padding:2.5rem}

  #portfolio .portfolio-item .portfolio-caption 
  h4{text-transform:none;
  margin:0}

  #portfolio .portfolio-item .portfolio-caption p
  {font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:italic;
  font-size:1.6rem;
  margin:0}

  #portfolio *{z-index:2}


/*===PORTAFOLIO MODAL===*/
.portfolio-modal .btn-close{
  background-color:#3A3A3A;
  border: #3A3A3A!important;

  .fa-times{
    margin-left: 0rem;
  } 
} 


.portfolio-modal .btn-close{
&:hover {
    color: #2bd2a9;
    background-color:#3A3A3A;
    border-color: #3A3A3A;}
}

.portfolio-modal .btn-ver{
  background-color:#2bd2a9;
  border: #2bd2a9;

  .fa-eye{
    margin-left: 0rem;
    color: #3A3A3A;
  }
}  

.portfolio-modal .btn-ver{
&:hover {
    color: #3A3A3A;
    background-color:#2bd2a9;
    border-color: #2bd2a9;}
}

/*===CARRUSEL CLIENTES===*/

#clientes{
  background-color:#2bd2a9;
}

#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 3rem;
}

#quote-carousel .fa{
  color: #ffffff;
  margin-left: 2.5rem;
  margin-top: 0.7rem;
}

#quote-carousel .img-circle{
width: 10rem;
height:10rem;
margin-left: 5rem;

}

/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -1.2rem;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: 1.2rem !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0rem;
  margin-right: -1.9rem;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 25rem;
  height: 10rem
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 1rem;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 1rem;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 4rem 3rem 4rem;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

  header {
  background-image:url(../imagenes/header-luu-resp.gif);
  width: 100%;
  height: 70rem;
  background-repeat:none;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
}
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .img-circle{
      margin-left: 1.5rem;
    }

    #quote-carousel .carousel-indicators {
        bottom: -2rem !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: -2rem 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: -2rem 0.5rem;
        width: 2rem;
        height: 2rem;
    }
}


/*===CONTACTO===*/

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}


.btn-lg, .btn-group-lg>.btn {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-success{
  background-color:#2bd2a9;
  border-color:#2bd2a9;

  &:hover {
    color: #ffffff;
    background-color:#11866f;
    border-color: #11866f;    
}
}

footer{
  background-image: url(../imagenes/contacto.jpg);
 
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 7rem;
  margin-top: -8rem;

  .fa-linkedin, fa-github{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .icon_white, .derechos, h2, p{
    color: #ffffff;
  }
  p{
    font-size: 2.3rem;
    padding-left: 2.5rem;
  }
  .derechos{
    margin-top: 13rem;
    margin-bottom: 4rem;
  }
}
